@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet"');


* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

#root {
  height: 100dvh;
  width: 100%;
  --maincolor: #393d63;
  --bgcolor: rgb(255, 255, 255);
  --bgcolor2: #ddd;
  --textcolor: rgb(49, 49, 49);
  color: var(--textcolor);
}

.app-container {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.canvas-container {
  flex: 1;
  position: relative;
  min-width: 0;
}

canvas {
  /* -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none; */
  pointer-events: none;
}

.drag-area svg {
  width: 100%;
  height: 100%;
  fill: var(--textcolor);
}

.drag-area {
  --drag-area-size: 20px;
  background-color: var(--bgcolor);
  width: var(--drag-area-size);
  box-shadow: -3px 0px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
  align-content: center;
}

@media screen and (max-width: 800px) {
  .drag-area {
    width: auto;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    height: calc(var(--drag-area-size)*2.5);
  }

  .drag-area svg {
    transform: rotate(90deg);
  }
}

.settings {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  background-color: var(--bgcolor);
}

.relative {
  position: relative;
}

.floating-button {
  position: absolute;
  right: 0;
  margin: 10px;
  color: var(--bgcolor);
  background-color: var(--maincolor);
  border: 3px solid transparent;
  border-radius: 5px;
  padding: 10px;
  z-index: 2;
  cursor: pointer;
  font-weight: 500;
}

.floating-button.open {
  color: var(--maincolor);
  background-color: var(--bgcolor);
  border-color: var(--maincolor);
}
