.collapsable {
    /* interpolate-size: allow-keywords; */
    overflow-y: hidden;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
    border-radius: var(--borderradius);
    padding: 20px;
    margin-bottom: 10px;
    color: var(--maincolor);
    background-color: white;
    text-align: left;
}

.collapsable svg {
    fill: var(--maincolor);
}

.content {
    overflow: hidden;
    transition: all 100ms;
}

.content.open {
    height: 100%;
}