h2 {
  margin-bottom: 0.5rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.settings-container {
  margin: 10px;
  margin-left: 3px;
}

.color-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: var(--bgcolor2);
  padding: 10px;
  border-radius: 5px;
}


.color-list button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 100ms;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: 0px;
}

.color-list button:hover {
  transform: scale(1.20);
  border-radius: var(--borderradius);
}

.color-list > .selected {
  border-radius: var(--borderradius);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  max-width: 8ch;
  border: none;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
  -moz-appearance: textfield;
  appearance: textfield;
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  min-height: 2rem;
}

.input-row > span {
  text-overflow: ellipsis;
  flex-shrink: 1;
}

.input-row > div {
  flex-grow: 0;
  min-width: 0;
}