h2 {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;

}

input[type=text] {
  height: 2rem;
  width: 8ch;
  border: 2px solid var(--maincolor);
  border-radius: 5px;
  box-sizing: border-box;
  /* padding-left: 10px; */
  text-align: center;
  font-weight: 700;
}

.settings-container {
  margin: 20px;
  --maincolor: #ff7300;
}