.metric-input {
  align-self: stretch;
  display: flex;
  width: fit-content;
  border: 3px solid var(--maincolor);
  border-radius: 5px;
  overflow: hidden;
}

.metric-input .error {
  font-size: 0.75rem;
}

.metric-input div {
  background-color: var(--maincolor);
  color: var(--bgcolor);
  align-content: center;
  padding: 0px 10px;
}

.metric-input span {
  flex-shrink: 1;
}

.metric-input.error {
  color: red;
}

.metric-input input {
  background-color: var(--bgcolor);
  color: var(--textcolor);
}

input[type=number] {
  max-width: 8ch;
  border: none;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
  -moz-appearance: textfield;
}
