.metric-input {
  align-self: stretch;
  display: flex;
  width: fit-content;
  border: 3px solid var(--maincolor);
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--maincolor);
}

.metric-input .error {
  font-size: 0.66rem;
}

.metric-input div {
  color: white;
  align-content: center;
  padding: 0px 10px;
}

.metric-input span {
  flex-shrink: 1;
}

.metric-input input {
  background-color: white;
  color: var(--textcolor);
  border-radius: 3px;
}
